.profile__info-subheading {
    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .profile__info-subheading {
        margin: 0;
        text-align: start;  
    }
}

@media screen and (min-width: 1024px) {
    .profile__info-subheading {
        margin: 0;
        text-align: start;
        font-size: 18px;
        line-height: 22px;  
    }
}